<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="clientCreator" class="com.cloudata.connector.creator.impl.SimpleHttpClientCreator"/>

    <bean id="methodCreator" class="com.cloudata.connector.creator.impl.SimpleHttpMethodCreator"
          factory-method="create">
        <constructor-arg type="java.lang.String" value="${SERVER_URL_ADDR}"></constructor-arg>
    </bean>

    <bean id="connector" class="com.cloudata.connector.ReqConnector">
        <constructor-arg type="com.cloudata.connector.creator.HttpClientCreator" ref="clientCreator"/>
        <constructor-arg type="com.cloudata.connector.creator.HttpMethodCreator" ref="methodCreator"/>
    </bean>

    <bean id="connectManager" class="com.cloudata.connector.service.ConnectManagerImpl">
        <property name="connector" ref="connector" />
    </bean>

    <bean id="surveyManager" class="com.cloudata.http.service.impl.SurveyManagerImpl">
        <property name="connectManager" ref="connectManager" />
        <property name="persistentService" ref="surveyPersistentService" />
    </bean>

    <!-- the datasource -->
    <bean id="dataSource" class="com.mchange.v2.c3p0.ComboPooledDataSource" destroy-method="close">
        <property name="jdbcUrl" value="jdbc:mysql://clouddata.f3322.net:10336/LimeSurvey" />
        <property name="user" value="root" />
        <property name="password" value="engine" />
        <property name="driverClass" value="com.mysql.cj.jdbc.Driver" />
        <property name="acquireRetryAttempts" value="8" />
        <property name="acquireRetryDelay" value="1000" />
    </bean>

    <bean id="sqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">
        <property name="dataSource" ref="dataSource" />
        <property name="mapperLocations">
            <list>
                <value>classpath*:com/cloudata/persistent/dao/*mapper.xml</value>
            </list>
        </property>
    </bean>

    <bean class="org.mybatis.spring.mapper.MapperScannerConfigurer">
        <property name="basePackage" value="com.cloudata.persistent.dao" />
        <property name="markerInterface" value="com.cloudata.persistent.dao.BasicDao" />
        <property name="sqlSessionFactoryBeanName" value="sqlSessionFactory" />
    </bean>

    <bean id="surveyPersistentService" class="com.cloudata.persistent.service.impl.SurveyPersistentServiceImpl" />

</beans>